<div>
	<h1>Booking</h1>
	
		<input type="text" class="id" placeholder="id" name="id">
		<br>
		<a href="/booking"><button type="submit" class="btn btn-primary" id="booking_btn" name="booking_btn">Booking</button></a>
	
</div>

<script>
	$(document).ready(()=>{
		$.ajax({
			url:"/getStateButton",
			method:"GET",
		}).then(data=>{
			console.log(data.state[0].state);
			$("#booking_btn").prop("disabled",data.state[0].state);
		})
	})
	
</script>